<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="exceptResolver" class="webservice.exceptionHandler.FaultExceptionResolver">
        <constructor-arg index="0" value="SERVER"/>
        <constructor-arg index="1" value="SERVER"/>
        <constructor-arg index="2">
            <map>
                <entry key="domain.customer.exceptions.CustomerAlreadyExistException" value="The Customer with this Name have already created"/>
                <entry key="domain.customer.exceptions.CustomerDoesNotExistException" value="The Customer with this Name doesn't exist"/>

                <entry key="domain.order.exceptions.OrderDoesNotExistException" value="The Order with this BillingNumber doesn't exist"/>

                <entry key="domain.product.exceptions.ProductAlreadyExistException" value="The Product with this Name have already created"/>
                <entry key="domain.product.exceptions.ProductDoesNotExistException" value="The Product with this Name doesn't exist"/>

                <entry key="domain.order.exceptions.ProductInOrderIsAlreadyOrderedException" value="There are same products in Order items. Please, check an order"/>

                <entry key="domain.product.exceptions.DateIntersectionInProductPriceException" value="Effect days of product prices intersect. Please, check the product"/>

                <entry key="domain.product.exceptions.NotAvailableProductPriceException" value="Sorry, there are no valid product price"/>

                <entry key="domain.product.exceptions.NotValidStartEffectDayException" value="Some effect day of price is not valid"/>
            </map>
        </constructor-arg>
    </bean>
</beans>